
*, *:after, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Droid Serif', georgia, sans-serif;

    }

a, a:visited {
  color: inherit;
  text-decoration: none;
}

body{
  background: #e6e6e6;
  font-family:'Droid Serif', georgia, serif;
}

#linemenu{
  background: #0099cc ;
  min-height: 54px;
  width: 100%;
  position: fixed;
  top:0; left: 0;
  color: white;
  padding: 0 10px 0 30px;
  line-height: 54px; letter-spacing:3px;
  font-size: 42px;   font-weight: bold;
  font-family:'Faster One';
  z-index: 99;
}

.linemenu-logo{
  position: fixed;
  top:15px; width:30px; height:30px;
  border: 2px solid white;  border-radius: 5px;
  z-index:42;}
#soc1{right: 25px;}
#soc2{right: 65px;}
#soc3{right:105px;}

#header{
  margin: 54px 0 0 0;
  background: #0d0d0d ;
  min-height: 340px;
  width: 100%;
}

#header-bg{
  position: absolute; top: 64px; left: 20%;
  width: 80%; height: 320px;

  z-index: 0;
  opacity: 0.75;
  overflow: hidden;
}
#header-bg img{
  margin-top: -50px;
  position: absolute;}


#head-title-box{
  position: absolute;
  top: 65px; left: 30px;

  width: 320px; min-height: 320px;
  font-family: 'Merriweather Sans', sans-serif;
  color: white; font-weight: bold;
  z-index: 41;
  background: linear-gradient(to right, rgba(13,13,13,1), rgba(13,13,13,0.8));
  font-size: 40px;}

.source-title{
  margin: 30px 0 20px 0;
  font-size: 14px; font-weight: bold;
  color: #00aeef;}

.head-subtitle{
  position: absolute;

  width: 200px; min-height: 75px;
  color: white; font-size: 18px;}
#sub2{ top:80px; right:25px;}
#sub3{ top:180px; right:25px;}
#sub-source{  font-size: 14px; font-weight: bold;color: #00aeef;margin: 10px 0 5px 0;}


#contents{
  background: #555555;
  min-height: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: 25px auto 20px auto 15px 250px 25px;
  grid-template-areas:   ". main . sec . twit .";
}

#maincol{
  grid-area: main;
  background: #E6E7E8;
  min-height: 1000px;
  min-width: 400px;
  margin: 20px 0 0 0;}

#seccol{
  grid-area: sec;
  background: #EFF0F1;
  min-height: 1000px;
  min-width: 350px;
  margin: 20px 0 0 0;}

#twitcol{
  grid-area: twit;
  background: white;
  min-height: 2000px;
  min-width: 250px;
  margin: 20px 0 0 0;}



      .art-sec{
        background: inherit;
        height: auto;margin: 5px;}
      .art-sec h1{
        color: #555555;; font-size: 1.4rem;
        margin: 10px;}
      .art-sec h4{
        color: black; font-size: 0.7rem;
        margin: 10px;}
      .art-sec p {color: gray; font-size: 0.9rem;
        margin: 8px;}
      .art-sec img{
        width: 100%;
        height: auto;
      }
.art-sec #soc-icon{
  display: inline-block;
  border: 1px solid white;  border-radius: 5px;
  min-width: 10px; min-height: 10px;
  margin: 4px;
}
