<title>freaks <%= freaksnum %></title>

<h1>Yo, being a freaks sure means a lot of hassle</h1>
<i>Brothers and sisters we need to keep cool</i>
<h2>Welcome to you, brother freaks number <%= freaksnum %></h2>
