<head>
<title>freaks <%= freaksnum %></title>
</head>


<body>
<div id = 'superbigcontainer'>
  <div id='container'>


<h1>Test récupération/affichage du JSON</h1>


<h3 id="json">Le contenu arrive ici depuis l'API : </h3>
<p id="json-content"><%= baum %><p>
<div id='disclaimer'>(OK, jusque là, c'est ultra moche...)</div>

<h4>Le serveur est OK, il va falloir bosser sur le front<br>To be continued....</h4>


<div id ="more">
  
  <div id="git">Suivez ce projet sur <a href="https://github.com/Carburator11">Github</a></div>
  <div id="ln">Mon profil <a href="https://www.linkedin.com/in/pierrevautherin/">LinkedIn</a></div>
  <div id="v1">La première version de ce site : <a href="http://carb11.eu/newsroom/">Newsroom v1.0</a></div>
</div>
  </div>


</div>
</body>

<style>
*, *:after, body {margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: georgia, sans-serif;

    }

body{
  background: #e6e6e6;
}

#superbigcontainer{
  width: 100%;
  text-align: left;
  background: #e6e6e6;
  position: absolute;
  top: 0;
  left: 0;}

#container{
  padding: 30px;
  background: white;
  border-radius: 5px;
  box-shadow:0 0 10px #999;
  margin: 30px auto 30px 5%;
  word-break: break-all;
  width:520px;
}

#container *{
  margin-top: 12px;
}

#disclaimer{
  font-style: italic;
  margin: 5x 0 0 0;
  opacity: 0.6;
  /*animation: fadein 6s;*/
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.7; }
}

h1 {    margin: 0}

#json {margin-top: 20px}
#json-content {margin: 30px 0 30px 0;}
#more{margin-top: 70px;}


</style>
