<!DOCTYPE html>
<html>
<head>

<title>News room</title>
<meta http-equiv="Cache-control" content="public">
<meta name="viewport" content="width=device-width, user-scalable=no">
<link href='../css/style_front.css' rel='stylesheet'>
<link rel="icon" href="favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Faster One' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
</head>


<body>
<div id = "container">
  <div id = "linemenu">News room
      <div class="linemenu-logo" id="soc1"></div>
      <div class="linemenu-logo" id="soc2"></div>
      <div class="linemenu-logo" id="soc3"></div>
  </div>

  <div id = "header">

    <div id="head-title">
      <div class="source-title">SOURCE</div>
      <div>Et est admodum mirum videre plebem innumeram mentibus ardore quodam infuso cum </div>
    </div>

    <div class="head-subtitle" id="sub2">
      <div class="source-title">SOURCE</div>
      <div>Hac ita persuasione reducti intra moenia bellatores obseratis undique portarum</div>
    </div>

    <div class="head-subtitle" id="sub3">
      <div class="source-title">SOURCE</div>
      <div>Illud tamen clausos vehementer angebat quod captis navigiis, quae frumenta vehebant per flumen</div>
    </div>
  </div>


  <div id = "contents">
    <div id="maincol"></div>
    <div id="seccol"> </div>
    <div id="twitcol"></div>
  </div>
</div>
</body>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</script>
