<!DOCTYPE html>
<html>
<head>

<title>News room</title>
<meta http-equiv="Cache-control" content="public">
<meta name="viewport" content="width=device-width, user-scalable=no">
<link href='../css/style_front.css' rel='stylesheet'>
<link rel="icon" href="favicon.ico">

</head>


<body>
<div id = "container">
  <div id = "linemenu">News room
      <div class="linemenu-logo" id="soc1"></div>
      <div class="linemenu-logo" id="soc2"></div>
      <div class="linemenu-logo" id="soc3"></div>
  </div>

  <div id = "header">
    <div id= "header-bg">
      <img src="http://cdn.cnn.com/cnnnext/dam/assets/171109112230-02-donald-trump-xi-jinping-state-dinner-1109-super-tease.jpg" />
    </div>
    <div id="head-title">
      <div class="source-title">SOURCE</div>
      Theresa May under pressure to replace Patel with Brexit enthusiast - Politics live
    </div>

    <div class="head-subtitle" id="sub2">
      <div class="source-title">SOURCE</div>
      <div>Hac ita persuasione reducti intra moenia rebellatores obseratis undique portarum</div>
    </div>

    <div class="head-subtitle" id="sub3">
      <div class="source-title">SOURCE</div>
      <div>Illud tamen clausos vehementer angebat quod captis navigiis, quae frumenta vehebant per flumen</div>
    </div>
  </div>


  <div id = "contents">
    <div id="maincol"></div>
    <div id="seccol">
        <div class="art-sec">
          <img src="http://cdn.cnn.com/cnnnext/dam/assets/171109112230-02-donald-trump-xi-jinping-state-dinner-1109-super-tease.jpg" />
          <h4>SOURCE</h4>
          <h1>Est admodum mirum videre plebem innumeram</h1>
          <p> Clausos vehementer angebat quod captis navigiis, quae frumenta </p>
          <div id="soc-icon">#</div>
          <div id="soc-icon">@</div>
          <div id="soc-icon">|||</div>
        </div>

    </div>
    <div id="twitcol">
        <a class="twitter-timeline" data-width="250" data-height="2000" data-theme="light"
        href="https://twitter.com/CNN?ref_src=twsrc%5Etfw">Tweets by CNN</a>

    </div>
  </div>
</div>
</body>

<script async src="../scripts/twitterwidget.js" charset="utf-8"></script>
</script>
<link href='https://fonts.googleapis.com/css?family=Faster One' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
